<html>
	<head>
		<title>Course End Survey 2015</title>
		<link rel="stylesheet" href="../static/css/base.css">
		<link rel="stylesheet" href="../static/css/styles.css">
		<link rel="icon" href="../static/bms.jpeg">
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="topHead">

			<div class="topLeft">
				<div class="spacer">
				<!-- #BeginEditable "headline" -->Welcome,
			   {{ name }}!
<!-- #EndEditable -->
			   </div>
		   </div>

			<div class="topRight">

				<a href="https://ise.pythonanywhere.com/logout/"><div class="logoutBtn">Logout</div></a>


			</div>
		</div>
		<div class="topBar">
			<div class="title">
				<h3>Course End Survey 2015</h3>
			</div>
		</div>
		<!-- #BeginEditable "text" -->
		<form method="post" action="rateSessions" name="form1" style="box-shadow: none;">
		<div class="cardContainer">

<div class="card full"><h3 class="name">You have completed your feedback. Thank you!</h3></div>
 <tr>

	 </tr>





		</div>
	  </form>
                  <!-- #EndEditable -->


<tr></tr>

<div class="logout">

			</div>

<div class="footer">
	<div class="bottomLeft">
		Copyrights © 2015. Course End Survey
	</div>
	<div class="bottomRight">

	</div>
</div>


</body>
<!-- #EndTemplate -->
</html>
